/* Page defaults */
.spacing-clear{
    margin: 0px;
    padding: 0px;
}

.carousel-pic{
    width: 32%;
}

.carousel-wrapper{
    padding: auto;
    text-align: center;
}

.carousel-indicators{
    
}